<div class="component-info">
  {% if url %}
  <div class="component-info--label cu-heading">
  <a href="{{ url }}">{{ label }}</a>
  </div>
  {% else %}
  <h2 class="component-info--label cu-heading">
  {{ label }}
  </h2>
  {% endif %}

  {% if description %}<div class="component-info--description">{{ description }}</div>{% endif %}

  {% if template_vars %}
  <h3 class="cu-heading">{% trans %}Variables{% endtrans %}:</h3>
  <ul class="component-info--template-vars">
  {% for template_var in template_vars %}
    <li>
      <code><strong>{{ template_var.getVariableName() }}</strong> <em>{{ template_var.getType() }}</em></code><br />
      {{ template_var.getDescription() }}
    </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if reference_links %}
  <h3 class="cu-heading">{% trans %}References{% endtrans %}:</h3>
  <ul class="component-info--reference-links">
  {% for reference_link in reference_links %}
    <li><a href="{{ reference_link.getReference() }}" target="_blank">{{ reference_link.getDescription() }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
</div>
